<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>EXPERT OPPO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="imagem-container">
    <img src="../../assets/img/Oppo-champions-league.jpg" alt="Oppo - Patrocinador oficial da liga dos campeões">
  </div>

  <ion-title class="center-title">
    <h1>MAKE YOUR MOMENT</h1>
  </ion-title>

  <ion-card class="custom-card">
    <p class="card-text">
      Na OPPO acreditamos que cuidar do futuro está diretamente ligado com dedicar-se ao presente. Seja autêntico, seja
      Você mesmo, agora.
      A OPPO torna a todos capazes de criar e celebrar a beleza da vida com tecnologia de ponta, abrindo caminho para a
      liberdade e a realização.
      "Make Your Moment" não é apenas um slogan, é um convite para agir.
      Junte-se à OPPO e aos nossos usuários ao redor do mundo para transformar cada momento em algo extraordinário.
    </p>
  </ion-card>
  <br>

  <div class="imagem-container">
    <img src="../../assets/img/oppo-game.jpg" alt="Oppo - The game changer">
  </div>

  <ion-title class="center-title">
    <h2>SOBRE NÓS</h2>
  </ion-title>
  <ion-card class="custom-card">
    <p class="card-text">
      A OPPO é uma marca global que desenvolve produtos e serviços de tecnologia inteligente voltados para o dia a dia,
      combinando um design minimalista com uma experiência intuitiva e sofisticada. Nosso propósito é inspirar as
      pessoas a explorarem sua criatividade de forma simples e a desfrutarem do prazer de criar.
    </p>
    <br>
    <p class="card-text">
      "Benfen*" é o nosso valor essencial e crença inabalável. Colocar o usuário no centro de tudo é o nosso princípio
      fundamental, enquanto a paixão pela criação nos impulsiona constantemente. Nosso compromisso é promover o avanço
      da tecnologia inteligente, permitindo que todos explorem e expressem a beleza da vida, aproveitando tudo com mais
      liberdade e plenitude.
    </p>
  </ion-card>

  <br>

  <div class="imagem-container">
    <img src="../../assets/img/sede-oppo.jpg" alt="Oppo - Nova sede">
  </div>

  <ion-title class="center-title">
    <h2>PONTOS FORTES</h2>
  </ion-title>
  <ion-card class="custom-card">
    <h1 class="card-title">TOP 4</h1>
    <p class="card-text">
      A OPPO é Top 4 em vendas globais de smartphones (Market Share), com uma presença significativa em todos os
      continentes.
    </p>
  </ion-card>
  <ion-card class="custom-card">
    <h1 class="card-title">70+</h1>
    <p class="card-text">
      Desde sua fundação em 2004, os negócios da OPPO se expandiram para mais de 70 países e regiões ao redor do
      mundo.
    </p>
  </ion-card>
  <ion-card class="custom-card">
    <h1 class="card-title">700 milhões+</h1>
    <p class="card-text">
      O ColorOS oferece uma experiência fluida para mais de 700 milhões de usuários em todo o mundo.
    </p>
  </ion-card>
  <ion-card class="custom-card">
    <h1 class="card-title">40,000+</h1>
    <p class="card-text">
      Com mais de 40.000 funcionários, a OPPO impulsiona a inovação para construir um futuro melhor.
    </p>
  </ion-card>
  <ion-card class="custom-card">
    <h1 class="card-title">113,000+</h1>
    <p class="card-text">
      Pedidos globais de patentes
    </p>
  </ion-card>
  <ion-card class="custom-card">
    <h1 class="card-title">62,000+</h1>
    <p class="card-text">
      Licenças globais
    </p>
  </ion-card>
  <ion-card class="custom-card">
    <h1 class="card-title">85%</h1>
    <p class="card-text">
      Fabricação automatizada
    </p>
  </ion-card>
  <ion-card class="custom-card">
    <h1 class="card-title">6</h1>
    <p class="card-text">
      A OPPO atende aos padrões mais rígidos das principais operadoras de telefonia do mundo, atestando a sua
      qualidade e confiabilidade.
    </p>
  </ion-card>
  <ion-card class="custom-card">
    <h1 class="card-title">TOP 1</h1>
    <p class="card-text">
      Com uma taxa de reparo de apenas 0,5%, a OPPO é reconhecida como a marca de smartphones com o menor índice de
      defeitos da América Latina.
    </p>
  </ion-card>
  <ion-card class="custom-card">
    <h1 class="card-title-2">OPPO e UEFA Champions League</h1>
    <p class="card-text">
      A OPPO é parceira da principal competição da UEFA, capturando, compartilhando e resignificando momentos
      inspiradores dentro e fora de campo, usando tecnologia de ponta.
    </p>
  </ion-card>
  <ion-card class="custom-card">
    <h1 class="card-title-2">OPPO e League of Legends</h1>
    <p class="card-text">
      A OPPO é a primeira fabricante de smartphones a firmar uma parceria global com League of Legends, conectando-se
      com a nova geração, celebrando conquistas nos esports e apoiando jogadores ao redor do mundo.
    </p>
  </ion-card>

  <ion-card class="custom-card">
    <h1 class="card-title-2">OPPO e Hasselblad</h1>
    <p class="card-text">
      A OPPO, em parceria com a Hasselblad, desenvolveu um sistema de fotografia mobile de última geração. Com
      calibração precisa e otimização de cores direto no sensor para diversos cenários, cada foto reflete o brilho e a
      autenticidade das cores icônicas da Hasselblad.
    </p>
  </ion-card>

  <ion-card class="custom-card">
    <ion-button expand="block" color="primary" class="ion-margin-top" routerLink="/sobre">
      Sobre o APP EXPERT OPPO
    </ion-button>
  </ion-card>
  <br>
  <br>
</ion-content>