<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>SUPORTE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment>
    <ion-segment-button value="assistencia" content-id="assistencia">
      <ion-label>ASSISTÊNCIA</ion-label>
    </ion-segment-button>
    <ion-segment-button value="modo-loja" content-id="modo-loja">
      <ion-label>MODO LOJA</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-segment-view>

    <ion-segment-content id="assistencia">

      <h2 class="card-title">Canais de Comunicação OPPO</h2>

      <ion-card class="custom-card">
        <ion-card-title class="card-title">Canais de Suporte:</ion-card-title>
        <ion-list>
          <br>
          <ion-item class="card-text"><strong>Telefone:</strong>&nbsp;0800-0500-193</ion-item>
          <br>
          <ion-item class="card-text"><strong>Whatsapp:</strong>&nbsp;(11) 4004-3149</ion-item>
          <br>
          <ion-item class="card-text"><strong>E-mail:</strong>&nbsp;support.br&#64;oppo.com</ion-item>
        </ion-list>
        <p class="card-text"><strong>Horário de Atendimento:</strong></p>
        <p class="card-text">Segunda a sexta: 9h até 18h</p>
        <br>

        <ion-card-title class="card-title">Mídias Sociais:</ion-card-title>
        <ion-list>
          <br>
          <ion-item class="card-text"><strong>Instagram:</strong>&nbsp;&#64;oppobrasil</ion-item>
          <br>
          <ion-item class="card-text"><strong>Facebook:</strong>&nbsp;&#64;OPPOBR</ion-item>
          <br>
          <ion-item class="card-text"><strong>Tiktok:</strong>&nbsp;&#64;oppobrazil</ion-item>
          <br>
          <ion-item class="card-text"><strong>X:</strong>&nbsp;&#64;oppobrazil</ion-item>
          <br>
          <ion-item class="card-text"><strong>Youtube:</strong>&nbsp;&#64;oppobrasil</ion-item>
          <br>
        </ion-list>
      </ion-card>
      <br>
      <h2 class="card-title">Perguntas Frequentes</h2>

      <ion-card class="custom-card">
        <ion-card-title class="card-title">O que a garantia cobre?</ion-card-title>
        <p class="card-text">
          A Oppo dá garantia de 2 anos para o telefone e acessórios (bateria, fone e cabo USB) conforme política de
          garantia no site oficial Oppo Brasil para produtos vendidos nas lojas e canais oficiais do território
          nacional.
        </p>
      </ion-card>
      <br>

      <ion-card class="custom-card">
        <ion-card-title class="card-title">Caso o cliente pegue uma chuva forte e danifique o aparelho, qual a
          garantia?</ion-card-title>
        <p class="card-text">
          Neste caso, conforme descrito na política de garantia, o produto não tem garantia para danos causados por uso
          inadequado do produto ou por agentes naturais, tais como, chuva, enchente, maresia, descarga elétrica e
          outros.
        </p>
      </ion-card>
      <br>

      <ion-card class="custom-card">
        <ion-card-title class="card-title">Cliente questiona bastante a garantia do carregador e do cabo USB é se válido
          uma vez?</ion-card-title>
        <p class="card-text">
          Não, se for necessário, os acessórios poderão trocados mais de uma vez. Caso algum acessório apresente defeito
          dentro do prazo de garantia, este deverá ser enviado para o Centro de Serviço para ser avaliado. Uma vez que é
          constatado uso inadequado ou acessório apresenta defeito, este será substituído em garantia, conforme regras
          descritas da política de garantia OPPO. Conforme política de garantia, não há garantia para capa protetora do
          produto e ferramenta ejetora do SIM Card.
        </p>
      </ion-card>
      <br>

      <ion-card class="custom-card">
        <ion-card-title class="card-title">Durante os 2 anos a garantia pode ser acionada quantas vezes for
          necessário?</ion-card-title>
        <p class="card-text">
          Sim, quantas vezes for necessário, sempre que o produto estiver dentro das regras de garantia conforme a
          política de garantia OPPO.
        </p>
      </ion-card>
      <br>

      <ion-card class="custom-card">
        <ion-card-title class="card-title">Caso de mau uso, o cliente consegue fazer o reparo e pagar pela assistência
          da OPPO estando ou não no período de carência?</ion-card-title>
        <p class="card-text">
          Sim, mas conforme constatado caso de uso inadequado do produto, o produto perderá a garantia Oppo. Caso o
          cliente opte por reparar o produto em um Centro de Serviços autorizado Oppo ou por outra assistência, este
          produto passará a ter a garantia do provedor de serviço que fez o reparo e não terá mais a garantia Oppo.
        </p>
      </ion-card>
      <br>

      <ion-card class="custom-card">
        <ion-card-title class="card-title">A garantia cobre defeito funcional?</ion-card-title>
        <p class="card-text">
          Sim. Cobre todos os defeitos funcionais causados por vícios de fabricação, conforme regras descritas da
          política de garantia OPPO.
        </p>
      </ion-card>
      <br>

      <ion-card class="custom-card">
        <ion-card-title class="card-title">Em caso de queda do aparelho e quebra do LCD a garantia
          cobre?</ion-card-title>
        <p class="card-text">
          Não. Conforme a descrito na política de garantia no site da OPPO, o produto perde a garantia devido ao uso
          inadequado do produto, ao qual o cliente deixou o produto cair no chão. Neste caso o cliente deve encaminhar o
          produto para o Centro de Serviço OPPO para ser feito orçamento para o reparo fora de garantia.
        </p>
      </ion-card>
      <br>

      <ion-card class="custom-card">
        <ion-card-title class="card-title">Como posso fazer para atualizar o ColorOS?</ion-card-title>
        <p class="card-text">
          As atualizações do ColorOS estarão disponíveis para os produtos OPPO conforme modelo e sequência de
          atualização do Sistema Operacional. O processo de atualização pode ser configurado direto no produto e região.
          Para verificar se existem atualizações disponíveis, clique em Ajustes > Sobre o Dispositivo > Clique no ícone
          do ColorOS. Em seguida o dispositivo irá verificar se ele já está atualizado com a versão mais recente.
          Importante verificar se as atualizações automáticas estão ativadas clicando nos 3 pontos do lado esquerdo do
          ícone do ColorOS.
        </p>
      </ion-card>
      <br>

      <ion-card class="custom-card">
        <ion-card-title class="card-title">O cliente informou que lojas prometem não ter travamento no modelo A40, como
          devemos proceder?</ion-card-title>
        <p class="card-text">
          Neste caso o promotor deve explicar ao cliente que quando o produto é ligado pela primeira vez, ele necessita
          fazer algumas atualizações referente ao sistema operacional ColorOS e também para os aplicativos que o produto
          já possui. Como este processo depende de alguns fatores como taxa de upload, download, qualidade de sinal de
          dados ou Wi-fi, o produto pode apresentar pequenos travamentos devido ao processamento dos dados baixados e
          instalação no dispositivo. Após finalizar as atualizações o produto irá trabalhar normalmente sem travamentos
          e com fluidez.
        </p>
      </ion-card>
      <br>

      <ion-card class="custom-card">
        <ion-card-title class="card-title">Alguns clientes reclamam de propagandas nos dispositivos, como resolver
          isso?</ion-card-title>
        <p class="card-text">
          O promotor deve explicar ao cliente que estas propagandas estão relacionadas aos aplicativos instalados no
          produto. Para resolver, neste caso o cliente deve observar quais aplicativos estão relacionados às
          propagandas, em seguida ele tem a opção de desativar ou bloquear estes aplicativos que rodam em segundo plano
          ou até mesmo desinstalar o aplicativo caso este não seja mais do interesse do cliente.
        </p>
      </ion-card>
      <br>

    </ion-segment-content>

    <ion-segment-content id="modo-loja">

      <h2 class="card-title">Senhas para Desinstalar Retail</h2>
      <p style="text-align: center; color:gray">(REMOVER MODO LOJA)</p>

      <ion-card class="custom-card">
        <p class="card-text">
          Acessar o APP <strong>DEMO MODE</strong>, selecionar configurações (engrenagem no canto superior direito da
          tela) e
          digitar a senha: <strong>0110</strong></p>
        <p class="card-text">
          Após entrar nas opções, ir até <strong>EXIT DEMO MODE</strong>&nbsp;e digitar a senha correspondente.
        </p>
        <ion-list>
          <br>
          <ion-item class="card-text"><strong>Reno13 F 5G:</strong>&nbsp;116788</ion-item>
          <br>
          <ion-item class="card-text"><strong>Reno11 F 5G:</strong>&nbsp;519026</ion-item>
          <br>
          <ion-item class="card-text"><strong>A5 Pro 5G:</strong>&nbsp;825095</ion-item>
          <br>
          <ion-item class="card-text"><strong>A5 4G:</strong>&nbsp;461214</ion-item>
          <br>
          <ion-item class="card-text"><strong>A79 5G:</strong>&nbsp;906594</ion-item>
          <br>
          <ion-item class="card-text"><strong>A60:</strong>&nbsp;636230</ion-item>
          <br>
          <ion-item class="card-text"><strong>A58:</strong>&nbsp;263119</ion-item>
          <br>
          <ion-item class="card-text"><strong>A40:</strong>&nbsp;341546</ion-item>
          <br>
        </ion-list>
      </ion-card>
      <br>

      <h2 class="card-title">TUTORIAL</h2>
      <p style="text-align: center; color:gray">(INSTALAR / REMOVER MODO LOJA)</p>

      <ion-card class="custom-card">
        <video controls width="100%" height="auto">
          <source src="../../assets/video/tutorial-modo-loja.mp4" type="video/mp4">
          Seu navegador não suporta o elemento de vídeo.
        </video>
      </ion-card>
    </ion-segment-content>
  </ion-segment-view>
  <br>
  <br>
</ion-content>