<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>SOBRE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="custom-card">
    <h1 class="card-title-3">Sobre o App EXPERT OPPO</h1>
    <p class="card-text">
      O App Expert Oppo foi desenvolvido por Vitor Rodrigues da Rosa, Estudante do curso superior de Análise e Desenvolvimento de Sistemas na Unisinos e entusiasta da programação mobile. Vitor é Promotor de vendas da Oppo na regional do Rio Grande do Sul
    </p>
    <ion-button expand="block" color="primary" (click)="openExternalLink()">
      Conheça o desenvolvedor
    </ion-button>
</ion-card>
<br>
<br>
</ion-content>
