<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>BOAS PRÁTICAS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p style="text-align: center; color:gray">(PARA PROMOTORES OPPO)</p>
  
  <h2 class="card-title">1. Marque o Ponto com Foto</h2>
  <ion-card class="custom-card">
      <p class="card-text">
        Chegue no ponto de vendas e inclua a marcação de ponto com uma foto da fachada da loja. Ao entrar na loja, cumprimente todos — gestores e vendedores. Lembre-se: você é o rosto da companhia na loja!
      </p>
  </ion-card>
  <br>

  
  <h2 class="card-title">2. Verifique a Exposição</h2>
  <ion-card class="custom-card">
      <p class="card-text">
        Confira os smartphones em exposição e os itens de positivação.
      </p>
  </ion-card>
  <br>

  <h2 class="card-title">3. Verifique Estoque e Preços</h2>
  <ion-card class="custom-card">
      <p class="card-text">
        Verifique o estoque dos smartphones Oppo na loja e se possível no centro de distribuição, além dos preços de cada modelo. Em caso de estoque baixo, solicite a reposição aos responsáveis.
      </p>
  </ion-card>
  <br>

  <h2 class="card-title">4. Observe os Concorrentes</h2>
  <ion-card class="custom-card">
      <p class="card-text">
        Fique atento aos preços, campanhas e ações da concorrência, então reporte suas lideranças estratégicas. Com base nisso, defina sua estratégia do dia e se posicione no ponto quente para vender muito!
      </p>
  </ion-card>
  <br>

  <h2 class="card-title">5. Feche Vendas e Compartilhe com o Time</h2>
  <ion-card class="custom-card">
      <p class="card-text">
        Realize vendas, colete a prova da venda (nota fiscal, sistema, etc.), compartilhe com a equipe e gestores e sempre que possível, tire uma foto com o cliente após a compra.
      </p>
  </ion-card>
  <br>

  <h2 class="card-title">6. Multiplique Conhecimento</h2>
  <ion-card class="custom-card">
      <p class="card-text">
        Reserve momentos do seu dia para promover a marca Oppo: oriente sobre os diferenciais dos produtos, demonstre funcionalidades e prepare o time da loja para impulsionar as vendas.
      </p>
  </ion-card>
  <br>

  <h2 class="card-title">7. Reporte o Fechamento de Vendas</h2>
  <ion-card class="custom-card">
      <p class="card-text">
        Ao final do dia, levante com atenção os números do fechamento do ponto de vendas. Envie as informações aos gestores conforme procedimento padrão.
      </p>
  </ion-card>
  <br>
  <br>
</ion-content>
